// Color
// main_c = #22264b
main_c = rgba(73, 151, 122, 1.00)
bg_c = rgba(245, 245, 245, 1.00)
second_c = #ffc259
white_c = #ffffff
success_c = #35963d
danger_c = #cc3333
disabled_c = #e3e0db

second_hover_c = #ffe3b3
danger_hover_c = #8b2222

// Layouts
fusionsSidebarW = 300px
fusionsHeaderH = 60px
fusionsFooterH = 40px

// z-index
fusionsSidebarZ = 3
fusionsSidebarContentZ = 2
fusionsSidebarBeforeZ = 1
