.page-enter-active, .page-leave-active,
.layout-enter-active, .layout-leave-active
  transition opacity .5s
.page-enter, .page-leave-to,
.layout-enter, .layout-leave-to
  opacity 0
.page-enter-to, .page-leave,
.layout-enter-to, .layout-leave
  opacity 1

// AOS animation custom setting
[data-aos="slide-custom"]
  transform translateY(300%)
[data-aos="slide-custom"].aos-animate
  transform translateY(0)

[data-aos="appear"]
  opacity 0
[data-aos="appear"].aos-animate
  opacity 1

.carousel-prev-enter-active,
.carousel-prev-leave-active,
.carousel-next-enter-active,
.carousel-next-leave-active
  transition: transform 1s ease

.carousel-next-enter,
.carousel-prev-leave-to
  transform: translateX(100%)

.carousel-next-leave-to,
.carousel-prev-enter
  transform: translateX(-100%)
